{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>oceanplacid | I.T Support Specialist, | dadziehanif@gmail.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h2>Hanif Effah Dadzie</h2>
					<h3>I.T Support Specialist</h3>
					<h3><a href="dadziehanif@gmail.com">dadziehanif@gmail.com</a></h3>
					<h3>+233268268289</h3>
				</div>

			<div>
				<div class = "yui-u">
					<img src = "{% static 'images/Zuri.png' %}" alt="Zuri Training" width = "250" height="100">
					<h3><a id="pdf" href="https://internship.zuri.team" target = blank>Zuri Training</a></h3>
				</div>
			</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->
		<br>

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								An Information Technology graduate with B. Sc degree from the University of Cape Coast, looking to secure a job to utilize my skills and knowledge to contribute to the overall success of any organization I work for, and also to further develop these skills in a practical environment. 
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<br>
						<div class="yui-u">

								<div class="talent">
									<h2></h2>
									<p>Computer Hardware Engieering</p>
									<p>Networking</p>
									<p>Web Development</p>
									<p>Ability to work on Linux Operating System</p>
								</div>

						</div>
					</div><br><!--// .yui-gf -->

					
					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Transmed Ghana Limited.

</h2>
								<h3>I.T Support Specialist</h3>
								<h4>June 2018</h4>
								<p>
									<li>Supervised The Relocation of Our office (Server Room Setup)</li>
									<li>Active Directory Management (Users and Computers)</li>
									<li>I.T Asset inventory Management</li>
									<li>Hardware and Software Troubleshooting.</li>
									<li>Network troubleshooting</li>
									<li>Configuration of IP phones</li>
								</p>
							</div>
							

							<div class="job">
								<h2>APM Terminals Ghana (MAERSK)</h2>
								<h3>I.T Assistant</h3>
								<h4>January 2016 – May 2018</h4>
								<p>
									<li>Maintain the functionality of I.T hardware</li>
									<li>Setup and update software for operations.</li>
									<li>Manage and Troubleshoot Network</li>
									<li>Liaise with third parties to resolve issues that require external resources and expertise.</li>
									<li>Biometric Access Control software management</li>
								</p>
							</div>
							

							<div class="job">
								<h2>Electricity Company of Ghana Ltd</h2>
								<h3>I.T Support (National Service)</h3>
								<h4>September 2013 – July 2014</h4>
								<p>
									<li>Maintain the functionality of I.T hardware</li>
									<li>Setup and update software for operations.</li>
									<li>Manage and Troubleshoot Network</li>
								</p>
							</div>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->
					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>University of Cape Coast - June 2013</h2>
							<h3>Bsc(Information Tech)</h3>
							<br>
						</div>
						
						<div class="yui-u">
							<h2>Sammo Senior High School - May 2008</h2>
							<h3>WASSSCE</h3>
							<br>
						</div>
						<div class="yui-u">
							<h2>Abura Ahmadiyya Junior High - April 2005</h2>
							<h3>BECE</h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Hanif Effah Dadzie &mdash; <a href="mailto:dadziehanif@gmail.com">dadziehanif@gmail.com</a> &mdash; +233268268289</p>
		</div><!--// footer -->
		<center>
		<div>
		<h1>Contact Me</h1>
		</div>
		<div>

		<form action = "{% url 'home' %}" method=POST>
			{% csrf_token %}

			{{ form.as_p }}
			<div><h2>Thank you, {{sub_message}}<h2></div>
			<div>
				<input type = "text" name = "Name" placeholder="Name">
			</div>
			<div>
			<input type = "email" name = "Email" placeholder="Email">
		    </div>
			<div>
			<input type = "textarea" name = "Phone" placeholder="Phone Number">
		    </div>
		    <div>
			<textarea name="message" rows="3" cols="22" placeholder="Leave a Message"></textarea>
		    </div>
		    <div>
			<input type = "submit" Value = "Submit" class="btn btn-secondary">
		    </div>
		</form>
	    </div>
		<center>


	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

